.home{
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #00BFFF;
        font-weight: bold;
        font-size: 40px;
}
